.vagrant/
vendor/
config/development.config.php
data/cache/*
!data/cache/.gitkeep
phpunit.xml

config/*
!config/modules.config.php
data/
module/
public/
.htaccess
CONDUCT.md
CONTRIBUTING.md
docker-compose.yml
Dockerfile
LICENSE.md
phpcs.xml
phpunit.xml.dist
README.md
TODO.md
Vagrantfile